.main{
    padding-bottom: 190px;
}
.main__person_container{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

}
.person__fio{
    display: flex;
    justify-content: flex-start;
    min-width: 100%;
    flex-wrap: wrap;
    gap: 60px;
}
.person__data_adr{
    display: flex;
    justify-content: flex-start;
    min-width: 100%;
    flex-wrap: wrap;
    gap: 60px;
}
.person__communicate{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 100%;
    gap: 60px;
}
.person__status-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 100%;
    align-items: center;
}
.status-button__button{
    padding: 2px 8px;
}
.status-button__button a{
    padding: 10px 18px;
    background-color: green;
    color: white;
    font: normal 16px/16px Roboto,sans-serif;
    border-radius: 10px;
    text-decoration: none;
}
.status-button__button a:active{
    background-color: #016701;
}
label{
    font: normal 18px/24px Roboto,sans-serif;
}
option{
    font: normal 14px/14px Arial ,sans-serif;

}
