{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Центр Инвест | Заявка</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'src/style/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="{% static 'src/style/style.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'src/style/ios.css' %}">
</head>
<body>
<section class="wrapper">
    <header class="header">
        <div class="header__container _container">
            <div class="header__logo-menu">
                <img src="{% static 'src/assets/Centr-invest.svg' %}" alt="#" class="header__img">
                <ul class="header__menu">
                    <li class="menu__item"><a href="index.html" class="item__link home-page">Вакансии</a></li>
                    <li class="menu__item"><a href="#" class="item__link">Бизнесу</a></li>
                    <li class="menu__item"><a href="#" class="item__link">Ещё</a></li>
                </ul>
            </div>
            <div class="header__button">
                <button>Интернет-Банк</button>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main__container _container">
            <h1>{{test.name}}</h1>
            <form id="quizForm" method="post">
                <ol>
                    {% csrf_token %}
                    {% for q in test.questions.all %}
                    <li>
                        <h3>{{q.name}}</h3>
                        {% if q.detailed %}
                        <div>
                            <textarea name="question{{q.pk}}" id="q1" cols="30" rows="5"></textarea>
                        </div>
                        {% else %}
                        {% for var in q.variants.all %}
                        <div>
                            <input type="radio" name="question{{q.pk}}" value="a" id="q1a">
                            <label for="q1a">{{var.variant}}</label>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ol>
                <input type="submit" value="Проверить результаты">
            </form>

            <div id="results"></div>
            <div class="main__button_zayavka"><a href="#">Подать заявку</a></div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__container _container">
            <div class="footer__items">
                <p class="footer__title">Частным лицам</p>
                <ul class="footer__menu">
                    <li class="menu__item">Кредитование</li>
                    <li class="menu__item">Ипотека</li>
                    <li class="menu__item">Рефинансирование</li>
                    <li class="menu__item">Вклады</li>
                    <li class="menu__item">Карты</li>
                </ul>
            </div>
            <div class="footer__items">
                <p class="footer__title">О банке</p>
                <ul class="footer__menu">
                    <li class="menu__item">Контакты</li>
                    <li class="menu__item">Акционерам и инвесторам</li>
                    <li class="menu__item">Офисы и банкоматы</li>
                    <li class="menu__item">Вклады</li>
                    <li class="menu__item">Карты</li>
                </ul>
            </div>
            <div class="footer__items">
                <p class="footer__title">Это интересно!</p>
                <ul class="footer__menu">
                    <li class="menu__item">Зелёный вклад</li>
                    <li class="menu__item">Зелёная ипотека</li>
                    <li class="menu__item">Социальный вклад банка</li>
                    <li class="menu__item">ESG-библиотека</li>
                </ul>
            </div>
            <div class="footer__items">
                <p class="footer__title">Связь с нами</p>
                <ul class="footer__menu">
                    <li class="menu__item">8 800 200 99 29</li>
                </ul>
            </div>
        </div>
    </footer>
</section>
<script src="src/ios.js"></script>
</body>
</html>